/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
  }

/* Backgrounds and coloured buttons */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}


/* padding */
.py-1 {
    padding: 1rem 0;
}
  
.py-2 {
    padding: 1.5rem 0;
}
  
.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}
  
.py-5 {
    padding: 4rem 0;
}


/* Text sizes */
.lead {
    font-size: 20px;
}
  
.sm {
    font-size: 1rem;
}
  
.md {
    font-size: 2rem;
}
  
.lg {
    font-size: 3rem;
}
  
.xl {
    font-size: 4rem;
}
  
.text-center {
    text-align: center;
}